code2 {
    background-color: #ecf5ff;
    display: inline-block;
    padding: 0 10px;
    line-height: 22px;
    font-size: 12px;
    color: #409eff;
    border: 1px solid #d9ecff;
    border-radius: 4px;
    box-sizing: border-box;
    white-space: wrap;
}